{% extends 'base.html' %}

{% block content %}
  <h2>FÖLI</h2>
  <h3>Seuraavat pysäkiltä {{ stop_id }} lähtevät bussit:</h3>
  <br>
  <p>Linja <strong>{{ line }}</strong> suuntaan {{ dest1 }} lähtee noin <strong>{{ departure }}</strong> minuutin päästä.</p>
  <p>Linja <strong>{{ line2 }}</strong> suuntaan {{ dest2 }} lähtee noin <strong>{{ departure2 }}</strong> minuutin päästä.</p>
  <p>Linja <strong>{{ line3 }}</strong> suuntaan {{ dest3 }} lähtee noin <strong>{{ departure3 }}</strong> minuutin päästä.</p>
{% endblock content%}